/* Global styles */

body {
    font-family: sans-serif;
    width: 1200px;
}

hr {
    height: 3px;
    background-color: #000;
}

h1 {
    font-weight: 300;
    font-size: 2rem;
}

nav, p {
    font-weight: 300;
    font-size: 1.6rem;
}

a, a:link, a:active {
    color: #000;
    text-decoration: none;
}

a:not(#logo):hover {
    background-color: yellow;
}

nav a:hover, a:hover .product-name {
    font-weight: 700;
}

.product-name {
    text-decoration: underline;
    max-width: 285px;
}

button {
    background-color: yellow;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
}

/* Flex boxes and margins */

#header {
    margin-left: 33px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

#header-subset {
    width: 66%;
}

nav {
    margin-top: 33px;
    margin-bottom: 33px;
    display: flex;
    justify-content: flex-end;
    gap: 66px;
}

#h1-container {
    display: flex;
    justify-content: center;
}

#gallery-section {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#product-section, #cart-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#selects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#glazing-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#pack-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#cart {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Individual styles */

#logo {
    width: 350px;
}

.gallery {
    width: 285px;
    height: 285px;
    border: 2px solid #000
}

.description {
    width: 600px;
    height: 600px;
}

.item {
    margin: 4px;
}

.cart {
    width: 200px;
    height: 200px;
}

.cart-item {
    text-align: center;
}

.cart-description {
    line-height: 5px;
}

.remove {
    font-weight: 700;
    text-decoration: underline;
}

.cart-price, #total {
    font-size: 1.4 rem;
}