/* ////////// LAYOUT ////////// */

/* Sourced code: I asked Perplexity AI why there was a section of white space at the bottom of my screen and the AI provided the below code to eliminate it. From reading Stack Overflow my understanding is that Chrome creates extra space for the tab bar and these changes remove that space.*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Enables vertical scrolling in the body despite display: flex so that #sidebar { position: sticky} will work*/
}
/* End sourced code*/

body {
    display: flex;
}

#sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 12vw;
    min-width: 114px;
    flex-shrink: 0;
    padding-left: 32px;
    padding-top: 64px;
}

#label-and-toggle {
    display: flex;
    align-items: center;
    flex-grow: 0;
    gap: 16px;
}

#switch-label {
    margin: 0;
}

#nav-curtain-draft-area {
    position: relative;
    width: 100vw;
}

#header-items {
    display: flex;
    gap: 24px;
    padding-left: 4%;
    padding-bottom: 8px;
    margin-right: 32px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding-right: 32px;
}

#draft-area {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    padding-right: 5%;
    justify-content: space-between;
}

#curtain, #curtain-static {
    position: absolute;
    left: 0;
    right: 0;
    height: 1vh;
    background-color: #FFFEFC;
    transition: 800ms ease-in-out;
}

#writing-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: -1;
    height: 50vh;
    transition: 200ms ease-in-out;
}

#draft-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 30vh;
}

#draft-options {
    display: flex;
    flex-direction: column;
}

/* ////////// APPEARANCE ////////// */

body {
    background-color: #FFFEFC;
}

#sidebar {
    background-color: #F7F6F3;
}

#header {
    background-color: #FFFEFC;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

#timer {
    display: flex;
    align-items: center;
    border: 2px #A4ACB3 solid;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    color: #A4ACB3;
}

#timer p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}

.fa-hourglass-end {
    padding-right: 8px;
    color: #A4ACB3;
    line-height: 0;
}

.fa-pencil {
    padding-right: 8px;
}

#word-count {
    /* Reset margin to override user-agent stylesheet */
    margin: 0px;
    /* End reset margin */
    border: 2px black solid;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

#curtain {
    border-bottom: 8px #F7F6F3 solid;
}

[contenteditable] {
    outline: 0px solid transparent;
  }

#writing-area, #draft-options > button {
    font-family: 'Zilla Slab', sans-serif;
    font-size: 64px;
    font-weight: 400;
}

#draft-options > button {
    border: none;
    background: none;
    text-align: left;
    text-decoration: underline;
}

#writing-area p, #history-area {
    margin-top: 0px;
    margin-bottom: 16px;
}

.draft-title {
    font-family: 'Zilla Slab', sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding-top: 32px;
}

.history-text {
    font-family: 'Zilla Slab', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 32px;
}

h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

h2:not(#first-h2) {
    padding-top: 16px;
}

#sidebar > p, #switch-label, #slider-label {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

.save-draft-button, .copy-button {
    font-family: 'Barlow', sans-serif;
    border: none;
    background: none;
    margin: 4px;
    padding-bottom: 8px;
    border-bottom: 2px #493DB8 solid;
    cursor: pointer;
}

.history-draft {
    color: red;
    background-color: yellow;
}

/* Dark mode library customization */
.darkmode-layer, .darkmode-toggle {
    z-index: 500;
}
/* End dark mode library customization */

/* ////////// TOGGLE SWITCH ////////// */

/* Source: W3 schools, https://www.w3schools.com/howto/howto_css_switch.asp */

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
#toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .8s;
    transition: .8s;
}
  
#toggle:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .8s;
    transition: .8s;
}
  
input:checked + .slider {
    background-color: #000;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #000;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
  
 /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%; 
}

/* ////////// LINES VISIBLE SLIDER ////////// */


#label-and-slider {
    display: flex;
    flex-direction: column;
}

#lines-slider {
    appearance: none;
    width: 90%;
    height: 4px;
    border-radius: 10px;
    background: #011628;
}

#lines-slider:disabled {
    appearance: none;
    width: 90%;
    height: 4px;
    border-radius: 10px;
    background: #ccc;
}

/* At first I tried the below without removing webkit appearance and appearance. I asked Microsoft Claude why the slider appearance wasn't changing, and it responded to add those lines of code to remove default styling. */

#lines-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    border: 2px solid #011628;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#lines-slider:disabled::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #ccc;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
}